
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.gridcontainer{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(93, 155, 155);
}
.fitems{
    background-color: lavenderblush;
    border: 5px solid rgb(113, 113, 131);
    padding: 40px;
}
.item1{
    grid-column-start: 1;
    grid-column-end: 4;
}
.item2{
    grid-row-start: 2;
    grid-row-end: 4;
}
